In [12]:
def read_csv(file, header=False):
    string_list = open(file, "r").read().split("\n")
    if header:
        string_list = string_list[1:len(data)]
    final_list = []
    for row in string_list:
        int_fields = []
        for column in row.split(','):
            int_fields.append(int(column))
        final_list.append(int_fields)
    return final_list

cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv", header=True)
cdc_list[0:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

In [13]:
def month_births(data):
    births_per_month = {}
    for row in data:
        if row[1] in births_per_month:
            births_per_month[row[1]] += row[4]
        else:
            births_per_month[row[1]] = row[4]
    return births_per_month
cdc_month_births = month_births(cdc_list)
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [15]:
def dow_births(data):
    births_per_dow = {}
    for row in data:
        if row[3] in births_per_dow:
            births_per_dow[row[3]] += row[4]
        else:
            births_per_dow[row[3]] = row[4]
    return births_per_dow
cdc_day_births = dow_births(cdc_list)
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [20]:
def calc_counts(data, column):
    births_count = {}
    for row in data:
        if row[column] in births_count:
            births_count[row[column]] += row[4]
        else:
            births_count[row[column]] = row[4]
    return births_count
cdc_year_births = calc_counts(cdc_list, 0)
cdc_month_births = calc_counts(cdc_list, 1)
cdc_dom_births = calc_counts(cdc_list, 2)
cdc_dow_births = calc_counts(cdc_list, 3)

In [21]:
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [22]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [23]:
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

In [24]:
cdc_dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [27]:
def dict_min(data):
    minim = data[1]
    for key in data:
        if data[key] < minim:
            minim = data[key]
    return minim
dict_min(cdc_dow_births)

4079723

In [29]:
def dict_max(data):
    maxim = data[1]
    for key in data:
        if data[key] > maxim:
            maxim = data[key]
    return maxim
dict_max(cdc_dow_births)

6446196